@font-face {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MajorMonoDisplay.woff2) format("woff2");
}

body {
  background-color: #2d2d2d;
  margin: 0;
}

#timedate {
  font: 43px "Major Mono Display", monospace;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  padding: 100px 100px;
  text-shadow: 2px 2px 5px rgb(0 107 231 / 80%),
    -2px -2px 5px rgb(255 0 0 / 80%), 0 0 0.3em rgb(0 107 231 / 80%);
}

#timedate:before {
  display: block;
  content: "";
  background: white;
  height: 200px;
  width: 1px;
  position: fixed;
  top: 50px;
  left: 50px;
  box-shadow: 2px 2px 5px rgb(0 107 231 / 80%), -2px -2px 5px rgb(255 0 0 / 80%),
    0 0 0.3em rgb(0 107 231 / 80%);
}
